
body {
background-color: rgb(0, 0, 0);
color: rgb(255, 252, 252);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(201, 189, 211);
padding: 30px;
color: rgb(255, 255, 255);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}

section{
    background-color: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}