
body {
background-color: rgb(107, 96, 96);
color: rgb(228, 217, 217);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(123, 116, 129);
padding: 30px;
color: rgb(238, 231, 238);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}